.booking-container {
    width: 100dvw;
    height: 100dvh;
    position: relative;
    background-color: rgb(224, 103, 103, .5);

    .spinner-container {
        h1 {
            font-size: 48px;
            margin-bottom: 5rem;
        }

        position: absolute;
        left: 0;
        top: 0;
        width: 100dvw;
        height: 100dvh;
        z-index: 1000;
        background-color: #009871;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

}

.motion-iframe {
    filter: hue-rotate(300deg);
    display: block;
    position: relative;
}