@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.bookingContainer {
  width: 100dvw;
  height: 100dvh;
  position: relative;
  background-color: rgba(224, 103, 103, 0.5);
}

.spinnerContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: 1000;
  background-color: #009871;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: $font-size-5xl;
    margin-bottom: $space-20;
  }
}

.motionIframe {
  filter: hue-rotate(300deg);
  display: block;
  position: relative;
}
