@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.footer {
  border-top: 1px solid rgba($sage-100, 0.6);
  background: rgba($parchment, 0.5);
  margin-top: $space-16;
}

.container {
  @include container;
  padding-top: $space-12;
  padding-bottom: $space-12;
}

.quoteBlock {
  margin-bottom: $space-8;
  text-align: center;
  max-width: $max-w-2xl;
  margin-left: auto;
  margin-right: auto;
}

.quote {
  color: $earth-500;
  font-style: italic;
  line-height: $leading-relaxed;
}

.attribution {
  color: $earth-400;
  font-size: $font-size-sm;
  margin-top: $space-2;
}

.bottomRow {
  @include flex-between;
}

.copyright {
  color: $earth-400;
  font-size: $font-size-sm;
}

.socialLinks {
  display: flex;
  gap: $space-4;
}

.socialLink {
  color: $earth-400;
  @include transition(color);

  &:hover {
    color: $plum-500;
  }

  svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}
