@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.footer {
  position: relative;
  border-top: 1px solid rgba($sage-100, 0.6);
  background: rgba($parchment, 0.5);
  margin-top: $space-16;
  overflow: hidden;
}

// Vignette backdrop for quote
.vignetteBackdrop {
  position: absolute;
  inset: 0;
  height: 300px;
  overflow: hidden;

  @include md {
    height: 350px;
  }
}

.vignetteImage {
  object-fit: cover;
  object-position: center;
  opacity: 0.3;
}

.vignetteOverlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba($parchment, 0.85) 0%,
    rgba($parchment, 0.7) 50%,
    rgba($parchment, 0.9) 100%
  );
}

.artworkAttribution {
  position: absolute;
  bottom: $space-3;
  right: $space-4;
  z-index: 1;
  font-size: $font-size-xs;
  opacity: 0.6;

  @include md {
    bottom: $space-4;
    right: $space-8;
  }
}

.attributionLink {
  color: $earth-500;
  text-decoration: none;
  transition: opacity $transition-default $ease-default;

  &:hover {
    opacity: 1;
    text-decoration: underline;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-w-6xl;
  padding-left: $space-5;
  padding-right: $space-5;
  padding-top: $space-12;
  padding-bottom: $space-12;

  @include sm {
    padding-left: $space-6;
    padding-right: $space-6;
  }

  @include md {
    padding-left: $space-8;
    padding-right: $space-8;
  }

  @include lg {
    padding-left: $space-10;
    padding-right: $space-10;
  }
}

.quoteBlock {
  margin-bottom: $space-8;
  text-align: center;
  max-width: $max-w-2xl;
  margin-left: auto;
  margin-right: auto;
}

.quote {
  color: $earth-500;
  font-style: italic;
  line-height: $leading-relaxed;
}

.attribution {
  color: $earth-400;
  font-size: $font-size-sm;
  margin-top: $space-2;
}

.bottomRow {
  @include flex-between;
}

.copyright {
  color: $earth-400;
  font-size: $font-size-sm;
}

.socialLinks {
  display: flex;
  gap: $space-4;
}

.socialLink {
  color: $earth-400;
  @include transition(color);

  &:hover {
    color: $plum-500;
  }

  svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}
