@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.section {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  z-index: $z-10;
  height: 100%;
  width: 100%;
}
